.container {
  transition: 0.5s;
}

.container.dark {
  background: #222;
}

/* index.css */
body[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
}

body[data-theme="dark"] {
  background-color: #1a1a1a;
  color: #ffffff;
}
